<!--
    This form allows a staff member to add a new user
    to Proof Logger.

    The first column provides the Save and Cancel buttons.

    The second column provides input fields for the new user's
     role (TA, Head, or Student) and email address.
    Availability is not asked for here, as a staff member
     creates the list of users to start, and each user will
     update his/her own availability later.
-->

<form #form="ngForm" (ngSubmit)="save(form)" autocomplete="off">
    <div style="display: inline-block; 
                vertical-align: top; padding: 1em;">            
        <button type="submit">Save</button>
        <button (click)="cancelNewUser(form)">Cancel</button>
    </div>

    <div style="display: inline-block; vertical-align: top; padding: 1em;">
      <span>
        <label for="statusField">Role:</label>
        <select name="statusField" [(ngModel)]="user.status">
          <option>Head</option>
          <option>TA</option>
          <option selected>Student</option>
        </select>
      </span>
      &nbsp;
      <span>
        <label for="emailField">Email:</label>
        <input name="emailField"  type="email" [(ngModel)]="user.email">
      </span>
    </div>
</form>
