<!--
    This form allows a staff member to add a new proof
    to the class's list for the semester.

    The first column provides Save and Cancel buttons,
    The second column takes the proof's name as the only
    necessary input for creation.
-->

<form #form="ngForm" (ngSubmit)="save(form)">
    <div style="display: inline-block; 
                vertical-align: top; padding: 1em;">            
        <button type="submit">Save</button>
        <button (click)="cancelNew(form)">Cancel</button>
    </div>

    <div style="display: inline-block; vertical-align: top; padding: 1em;">
      <div>
        <label for="nameField">Name:</label>
        <input name="nameField" [(ngModel)]="proof.name">
      </div>
    </div>
</form>