<h2>Class Members</h2>

<div *ngIf="numUsers; else noneTemplate">

    <app-user *ngFor='let userObj of userList'
                [user] = "userObj"
                (deletedUser) = "updateUserList()">
    </app-user>

</div>

<ng-template #noneTemplate>None</ng-template>

<div *ngIf="!adding">
    <button (click)="setAddUserMode(true)">Add New User</button>
</div>

<div *ngIf="adding">
    <app-newuser (newUser)="updateUserList()"
                 (cancelNewUserEv)= "setAddUserMode(false)">
    </app-newuser>
</div>