<!--
    This form presents a presentation differently depending on the 
     status of the presentation.
    "Listened Pending" pres. need to be approved or denied by listener.
    "Presented Denied" pres. need to be noted by the presenter,
       and then the presenter may choose to delete them.
    "Presented Pending" pres. have been done but do not yet reflect
       in the presenter's score
    "Presented Confirmed" pres. do count within the student's score
    "Listened Confirmed" pres. also count within the student's score
-->

<div *ngIf="mode == 'listened_pending'">
  <div style="display: inline-block; vertical-align: top; padding: .5em;">  
    <button (click)="confirmListened('confirmed')">Confirm</button>
    <button (click)="confirmListened('denied')">Deny</button>
  </div>
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    {{presentation.presenter.email}}, {{presentation.proof.name}}  <i>({{presentation.date_presented.substring(0, 10)}})</i>
  </div>
  <br>
</div>

<div *ngIf="mode == 'presented_denied'">
  <div style="display: inline-block; vertical-align: top; padding: .5em;">  
    <button (click)="delete()">Delete</button>
  </div>
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    {{presentation.proof.name}} presented to {{presentation.listener.email}} <i>({{presentation.date_presented.substring(0, 10)}})</i><br>
  </div>
  <br>
</div>

<div *ngIf="mode == 'presented_pending'">
  <div style="display: inline-block; vertical-align: top; padding: .5em;">  
    <button (click)="delete()">Delete</button>
  </div>
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
  {{presentation.proof.name}} presented to {{presentation.listener.email}} <i>({{presentation.date_presented.substring(0, 10)}})</i>
  </div>
  <br>
</div>

<div *ngIf="mode == 'presented_confirmed'">
  <b>{{presentation.proof.name}}</b> to {{presentation.listener.email}} <i>({{presentation.date_presented.substring(0, 10)}})</i><br>
</div>

<div *ngIf="mode == 'listened_confirmed'">
  {{presentation.presenter.email}}, <b>{{presentation.proof.name}}</b>  <i>({{presentation.date_presented.substring(0, 10)}})</i><br>
</div>