div.table 
{
    display:table;
}

app-proof, app-user, div.tr
{
    display:table-row;
}

span.th, span.td
{
    display:table-cell;
}

span.th {
    font-weight: bold;
    padding:1em;
}

span.td
{
    padding:.2em 1em;
}