<!-- 
    This HTML piece either displays the information about a proof
    or allows the user to edit the proof, depending on the user's 
    preferences.

    When not in "editing" mode, the proof information is listed in 
    four columns:
      The first column provides "Edit" and "Delete" functionality.
      The second column presents the proof name.
      The third column allows the user to show or hide the full list
        of qualified listeners for this proof, as well as display
        at all times the number of qualified listeners.
      The fourth column appears only when the user has chosen to 
        show the qualified listeners, and then lists one per line

    When in "editing" mode, the proof information is listed in
    only two columns:
      The first column provides "Save" and "Cancel" functionality.
      The second column allows the user to change the proof's name.

-->

<div *ngIf="!editing">
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    <button (click)="setEditMode(true)">Edit</button>
    <button (click)="deleteProof()">Delete</button>
  </div>
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    <b>{{ proof.name }}</b>
  </div>
  <div style="display: inline-block; vertical-align: top; padding: .5em;">
      <div>{{ proof.qualifiedListeners.length }} listeners 
        <span *ngIf="showListeners && proof.qualifiedListeners.length">
          <button (click)="setShowListenersMode(false)">Hide</button>
        </span>
        <span *ngIf="!showListeners && proof.qualifiedListeners.length">
          <button (click)="setShowListenersMode(true)">Show</button>
        </span>
      </div>
  </div>
  <div *ngIf="showListeners" 
        style="display: inline-block; vertical-align: top; padding: .5em;">
      <div *ngFor="let ql of proof.qualifiedListeners">
        <a routerLink="/users/{{ql._id}}">{{ql.email}}</a>
        <span *ngIf="ql.availability">
          availability: <i>{{ql.availability}}</i>
        </span>
      </div>
  </div>
</div>

<div *ngIf="editing">
  <form #form="ngForm">
    <div class="form-group">
      <div style="display: inline-block; vertical-align: top; padding: .5em;">            
        <div><button (click)="updateProof(form.value)">Save</button>
             <button (click)="setEditMode(false)">Cancel</button>
        </div>
      </div>
      <div style="display: inline-block; vertical-align: top; padding: .5em;">
          <label for="nameField">Proof Name:</label>
          <input #name name="nameField" [ngModel]="proof.name">
      </div>
    </div>
  </form>
</div>
