<!-- 
    This is a main page to provide CRUD functionality re: the class's proofs

    It first lists all of the proofs already registered for the class.
    Then, depending on the user's choice, it offers either 
        a button to click so as to add a new proof, or
        a form to fill out in order to add the new proof (or cancel)
-->

<h2>Proof List</h2>

<div *ngIf="numProofs; else noneTemplate">

    <app-proof *ngFor='let proofObj of proofList'
                [proof] = "proofObj"
                (deletedProof) = "updateProofList()">
    </app-proof>

</div>

<ng-template #noneTemplate>None</ng-template>

<div *ngIf="!adding">
    <button (click)="setAddingMode(true)">Add New Proof</button>
</div>

<div *ngIf="adding">
    <app-newproof (newProof)="updateProofList()"
                  (cancelNewProof)= "setAddingMode(false)">
    </app-newproof>
</div>

<p><a routerLink="/users">To Class List</a></p>