<h2>Proof List</h2>

<div *ngIf="numProofs; else noneTemplate">

    <app-proof *ngFor='let proofObj of proofList'
                [proof] = "proofObj"
                (deletedProof) = "updateProofList()">
    </app-proof>

</div>

<ng-template #noneTemplate>None</ng-template>

<div *ngIf="!adding">
    <button (click)="setAddingMode(true)">Add New Proof</button>
</div>

<div *ngIf="adding">
    <app-newproof (newProof)="updateProofList()"
                  (cancelNewProof)= "setAddingMode(false)">
    </app-newproof>
</div>