<!--
    This HTML piece either displays the information about a user
    or allows the current user to edit a user's information.

    When not in "editing" mode, the user information is listed in 
    two columns:
      The first column provides "Edit" and "Delete" functionality.
      The second column presents user's status in the class, email
         address, and current availability.

    When in "editing" mode, the user information is again listed in
    two columns:
      The first column provides "Save" and "Cancel" functionality.
      The second column allows the user to change the user's
        class status, email address, AND availability.
-->

<div *ngIf="!editing">

  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    <button (click)="setEditMode(true)">Edit</button>
    <button (click)="deleteUser()">Delete</button>
  </div>

  <div style="display: inline-block; vertical-align: top; padding: .5em;">
    <div>{{ user.status }}</div>
    <div><b><a routerLink="/users/{{user._id}}">{{ user.email }}</a></b></div>
    <div>Availability: {{ user.availability }}</div>
  </div>

</div>

<div *ngIf="editing">
  <form #form="ngForm">
    <div class="form-group">
      <div style="display: inline-block; vertical-align: top; padding: .5em;">            
        <div><button (click)="updateUser(form.value)">Save</button>
              <button (click)="setEditMode(false)">Cancel</button>
        </div>
      </div>
      <div style="display: inline-block; vertical-align: top; padding: .5em;">
        <div>
          <label for="statusField">Status:</label>
          <input #status name="statusField" [ngModel]="user.status">
        </div>
        <div>
          <label for="emailField">Email:</label>
          <input #email name="emailField" [ngModel]="user.email">
        </div>
        <div>
          <label for="availabilityField">Availability:</label>
          <input #availability name="availabilityField" [ngModel]="user.availability">
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
