
<div *ngIf="!editing">

  <div style="display: inline-block; vertical-align: top; padding: 1em;">
    <button (click)="setEditMode(true)">Edit</button>
    <button (click)="deleteUser()">Delete</button>
  </div>

  <div style="display: inline-block; vertical-align: top; padding: 1em;">
    <div>{{ user.status }}</div>
    <div><b><a routerLink="/users/{{user._id}}">{{ user.email }}</a></b></div>
    <div>Availability: {{ user.availability }}</div>
  </div>

</div>

<div *ngIf="editing">
  <form #form="ngForm">
    <div class="form-group">
      <div style="display: inline-block; vertical-align: top; padding: 1em;">            
        <div><button (click)="updateUser(form.value)">Save</button>
              <button (click)="setEditMode(false)">Cancel</button>
        </div>
      </div>
      <div style="display: inline-block; vertical-align: top; padding: 1em;">
        <div>
          <label for="statusField">Status:</label>
          <input #status name="statusField" [ngModel]="user.status">
        </div>
        <div>
          <label for="emailField">Email:</label>
          <input #email name="emailField" [ngModel]="user.email">
        </div>
        <div>
          <label for="availabilityField">Availability:</label>
          <input #availability name="availabilityField" [ngModel]="user.availability">
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
