<!--
    This form allows a student to register his/her presentation 
      of a class proof to a qualified listener.

    It presents three columns to the student:
      In the first, the student may choose which proof s/he presented
        via a drop-down list of all proofs registered in the system
      In the second, the student may choose which class member
        was the "listener" via another drop-down list
      In the third, the student may click to Submit or Cancel 
-->

<form #form="ngForm" (ngSubmit)="save(form)">

    <div style="display: inline-block; vertical-align: top; padding: 1em;">
        <label for="proofField">Proof:</label>
        <select name="proofField" [(ngModel)]="newPresentation.proofID">
          <option *ngFor="let p of proofs" [ngValue]="p._id">
            {{p.name}}
          </option>
        </select>
    </div>

    <div style="display: inline-block; vertical-align: top; padding: 1em;">
        <label for="nameField">Presented To:</label>
        <select name="nameField" [(ngModel)]="newPresentation.listenerID">
          <option *ngFor="let ql of qualifiedListeners" [ngValue]="ql._id">
            {{ql.email}}
          </option>
        </select>
    </div>


    <div style="display: inline-block; vertical-align: top; padding: 1em;">
        <button type="submit">
          Save
        </button>
        <button (click)="cancelNew(form)">Cancel</button>
    </div>
</form>